syntax: glob
*.asc
*.pid
Alwaysvisible/*
Config/configFilesCache.cbin
Config/configFilesIndex.cbin
Config_*
DumpFiles/*
Export/*
Import/*
ImportFailed/*
Log4jConfig*
MapCache/*
Modules/*
ROWS SA.lnk
ROWS-SSD/*
ROWS_RTC.lnk
Template/*
aumuropmc00_oc_global.properties
aumuropmc00_oc_synchConfig
aumuropmc00_oc_synchConfig.xml
clientConfig
clientConfig.xml
copy of patch.jar
derby.log
exportedModuleDataSetFiles.txt
fews-splash.jpg
fews-stable-201802-87641-patch.jar
from*
hg commands.txt
import/*
import_ftp/*
localDataStore/*
localDataStore_era5/*
log*
mapcache/
oc_global
oc_global.properties
oc_synchChannels.xml
oc_synchProfiles.xml
patch.jar
running
sa_global.properties
startup_debug_log.txt
szsConfig/*
temp/*
tmp/*
upper_murray_HumeDam_RTC-Tools.zip
user_settings.ini
windowLayout.xml
xxxlocalDataStore/*
xxxxlocalDataStore/*
syntax: regexp